<h1>Posts</h1>

<ul>
  <% @posts.each do |post| %>
    <li>
      <strong>Author:</strong>
      <% if user_signed_in? %>
        <%= post.user.username %>
      <% else %>
        Secret (Sign-in to reveal)
      <% end %><br>
      <%= post.body %>
    </li><br>
  <% end %>
</ul>

<%= link_to "New Post", new_post_path %><br><br>

<% if user_signed_in? %>
  <%= link_to "Sign Out", destroy_user_session_path, method: :delete, data: { turbo_method: :delete } %>
<% else %>
  <%= link_to "Sign In", new_user_session_path %>
<% end %>